.section.modular-contact {
    padding: 0;
}

.section.modular-contact div,
#can_embed_form,
#donate_auto_modal {
    background: #71d0f1 !important;
}

.can_embed.form #can_embed_form_inner>h2 {
    display: none;
}

#can_embed_form_inner * {
    font-family: 'fuckedcaps',
        sans-serif !important;
}

#can_embed_form_inner>h2+h4 {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    color: navy !important;

    &::after {
        background: wheat !important;
    }
}

#can_embed_form,
#donate_auto_modal {

    input,
    textarea,
    select,
    a,
    form label,
    strong {
        font-family: 'Crimson Text', serif !important;
    }

    a {
        color: white !important;
        border: none !important;
    }
}



#can_embed_form {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'fuckedcaps', sans-serif !important;
    }

    input,
    textarea,
    select {
        font-size: 1rem !important;
    }

    label {
        color: black !important;
        font-size: 0.8rem !important;
    }

    .check_radio_field {
        background: white !important;
        padding: 0.2rem 0.5rem !important;

        label {
            font-size: 1rem !important;
        }
    }

    #action_info .action_info_user a {
        color: white !important;
    }

    #logo_wrap {
        background-color: white !important;
    }

    .international_link {
        font-size: 0.7rem !important;
    }
}

#can_embed_form.can_float {
    #form_col1 {
        float: none !important;
        width: 100% !important;
    }

    #form_col2 {
        float: none !important;
        width: 100% !important;
    }
}