/** Extra columns spacing **/
.extra-spacing:not(.col-12),
:not(.col12)>.e-content {
  padding-right: 1rem;

  @include breakpoint(lg) {
    padding-right: 0;
  }
}

/** Breadcrumbs styling **/
#breadcrumbs {
  padding-left: 0;
  // display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: medium;
  line-height: unset;

  @include breakpoint(sm) {
    display: none;
  }

  i {
    display: none;
  }

  span,
  a {
    padding: 0;

    &:first-child {
      padding-left: 0;
    }
  }

  span,
  a {
    &:not(:first-child)::before {
      content: '\f054';
      padding: 0 .4rem;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

/** Blog Listing **/
.blog-listing {
  font-size: 1.2rem;

  #view_pdf {
    font-size: 1.8rem;
    color: $black-color;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0 1rem;
    line-height: 3rem;
    border-radius: .2rem;

    &::before {
      content: "\f1c1";
      font-family: "Font Awesome 5 Free";
    }

    &:hover {
      text-decoration: none;
      background: $light-blue-color;
      color: white;
    }

  }

  p {
    text-align: justify;
  }

  .content-item {
    background: white;
    padding: 2rem;
  }

  .bricklayer-column {
    padding-left: 0;
    padding-right: 25px;

    &:last-child {
      padding-right: 0;
    }
  }

  .card {
    margin-bottom: 25px;
    border: 0;
    box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.1);
  }

  .card-footer {
    text-align: right;
  }

  .blog-date {
    font-size: 13px;
  }

  .image-caption {
    font-size: .8rem;
    display: inline-block;
  }
}

/** Blog Item **/
.content-title {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

/** Pagination **/
ul.pagination {
  justify-content: center;

  li {
    color: $gray-color;
    font-size: 1.2rem;
    margin: .5rem;
    border: 1px solid $border-color;
  }
}

.prev-next {
  margin-top: 4rem;
}

/** Sidebar specific tweaks **/
#sidebar {

  ul.related-pages {
    box-shadow: none;
    padding: 0;
    z-index: 1;

    li {
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: 0;
      }
    }

  }

  ul.archives {
    list-style: none;
    margin-left: 0;

    .label {
      vertical-align: text-top;
    }
  }
}