section.section.modular-events {
    padding: 0;

    h1 {
        margin: 0;
        line-height: 5rem;
    }

    #xr-events {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem -0.4rem 0;

        .event {
            flex: none;
            width: 33.33333333%;

            @include breakpoint(md) {
                width: 50%;
            }

            @include breakpoint(sm) {
                width: 100%;
            }

            .event-body {
                padding: 1rem;
            }
        }
    }
}