$font-path: "/user/themes/xrla/css/fonts" !default;

@font-face {
    font-family: 'Crimson Text';
    src: url('#{$font-path}/CrimsonText-Regular.eot');
    src: url('#{$font-path}/CrimsonText-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/CrimsonText-Regular.woff2') format('woff2'),
    url('#{$font-path}/CrimsonText-Regular.woff') format('woff'),
    url('#{$font-path}/CrimsonText-Regular.ttf') format('truetype'),
    url('#{$font-path}/CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
    ;
    font-weight: 400;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('#{$font-path}/CrimsonText-Bold.eot');
    src: url('#{$font-path}/CrimsonText-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/CrimsonText-Bold.woff2') format('woff2'),
    url('#{$font-path}/CrimsonText-Bold.woff') format('woff'),
    url('#{$font-path}/CrimsonText-Bold.ttf') format('truetype'),
    url('#{$font-path}/CrimsonText-Bold.svg#CrimsonText-Bold') format('svg');
    font-weight: 700;
}

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "FucXed";
    src: url("#{$font-path}/FUCXEDCAPSLatin-Regular.eot");
    /* IE9 Compat Modes */
    src: url("#{$font-path}/FUCXEDCAPSLatin-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("#{$font-path}/FUCXEDCAPSLatin-Regular.otf") format("opentype"),
    /* Open Type Font */
    url("#{$font-path}/FUCXEDCAPSLatin-Regular.svg") format("svg"),
    /* Legacy iOS */
    url("#{$font-path}/FUCXEDCAPSLatin-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("#{$font-path}/FUCXEDCAPSLatin-Regular.woff") format("woff"),
    /* Modern Browsers */
    url("#{$font-path}/FUCXEDCAPSLatin-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

$base-font-family: 'Crimson Text' !default;
$fallback-font-family: serif !default;
$body-font-family: $base-font-family,
serif !default;
$title-font-family: FucXed,
sans-serif !default;