/*! Spectre.css Experimentals v0.5.8 | MIT License | github.com/picturepan2/spectre */
.form-autocomplete {
  position: relative;
}

.form-autocomplete .form-autocomplete-input {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  min-height: 1.6rem;
  padding: 0.1rem;
}

.form-autocomplete .form-autocomplete-input.is-focused {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
  border-color: #5755d9;
}

.form-autocomplete .form-autocomplete-input .form-input {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 1.2rem;
  line-height: 0.8rem;
  margin: 0.1rem;
  width: auto;
}

.form-autocomplete .menu {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.form-autocomplete.autocomplete-oneline .form-autocomplete-input {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.form-autocomplete.autocomplete-oneline .chip {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.calendar {
  border: 0.05rem solid #dadee4;
  border-radius: 0.1rem;
  display: block;
  min-width: 280px;
}

.calendar .calendar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  padding: 0.4rem;
}

.calendar .calendar-header,
.calendar .calendar-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.4rem 0;
}

.calendar .calendar-header .calendar-date,
.calendar .calendar-body .calendar-date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
  max-width: 14.28%;
}

.calendar .calendar-header {
  background: white;
  border-bottom: 0.05rem solid #dadee4;
  color: #bcc3ce;
  font-size: 0.7rem;
  text-align: center;
}

.calendar .calendar-body {
  color: #66758c;
}

.calendar .calendar-date {
  border: 0;
  padding: 0.2rem;
}

.calendar .calendar-date .date-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0.05rem solid transparent;
  border-radius: 50%;
  color: #66758c;
  cursor: pointer;
  font-size: 0.7rem;
  height: 1.4rem;
  line-height: 1rem;
  outline: none;
  padding: 0.1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  vertical-align: middle;
  white-space: nowrap;
  width: 1.4rem;
}

.calendar .calendar-date .date-item.date-today {
  border-color: #e5e5f9;
  color: #5755d9;
}

.calendar .calendar-date .date-item:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}

.calendar .calendar-date .date-item:focus, .calendar .calendar-date .date-item:hover {
  background: #fefeff;
  border-color: #e5e5f9;
  color: #5755d9;
  text-decoration: none;
}

.calendar .calendar-date .date-item:active, .calendar .calendar-date .date-item.active {
  background: #4b48d6;
  border-color: #3634d2;
  color: #ccc;
}

.calendar .calendar-date .date-item.badge::after {
  position: absolute;
  top: 3px;
  right: 3px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.calendar .calendar-date .date-item:disabled, .calendar .calendar-date .date-item.disabled,
.calendar .calendar-date .calendar-event:disabled,
.calendar .calendar-date .calendar-event.disabled {
  cursor: default;
  opacity: .25;
  pointer-events: none;
}

.calendar .calendar-date.prev-month .date-item,
.calendar .calendar-date.prev-month .calendar-event, .calendar .calendar-date.next-month .date-item,
.calendar .calendar-date.next-month .calendar-event {
  opacity: .25;
}

.calendar .calendar-range {
  position: relative;
}

.calendar .calendar-range::before {
  background: #f1f1fc;
  content: "";
  height: 1.4rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calendar .calendar-range.range-start::before {
  left: 50%;
}

.calendar .calendar-range.range-end::before {
  right: 50%;
}

.calendar .calendar-range.range-start .date-item, .calendar .calendar-range.range-end .date-item {
  background: #4b48d6;
  border-color: #3634d2;
  color: #ccc;
}

.calendar .calendar-range .date-item {
  color: #5755d9;
}

.calendar.calendar-lg .calendar-body {
  padding: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date {
  border-bottom: 0.05rem solid #dadee4;
  border-right: 0.05rem solid #dadee4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5.5rem;
  padding: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date:nth-child(7n) {
  border-right: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date:nth-last-child(-n+7) {
  border-bottom: 0;
}

.calendar.calendar-lg .date-item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 1.4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}

.calendar.calendar-lg .calendar-range::before {
  top: 19px;
}

.calendar.calendar-lg .calendar-range.range-start::before {
  left: auto;
  width: 19px;
}

.calendar.calendar-lg .calendar-range.range-end::before {
  right: 19px;
}

.calendar.calendar-lg .calendar-events {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1;
  overflow-y: auto;
  padding: 0.2rem;
}

.calendar.calendar-lg .calendar-event {
  border-radius: 0.1rem;
  font-size: 0.7rem;
  display: block;
  margin: 0.1rem auto;
  overflow: hidden;
  padding: 3px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4), .carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-container .carousel-item:nth-of-type(5), .carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-container .carousel-item:nth-of-type(6), .carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-container .carousel-item:nth-of-type(7), .carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-container .carousel-item:nth-of-type(8) {
  -webkit-animation: carousel-slidein .75s ease-in-out 1;
          animation: carousel-slidein .75s ease-in-out 1;
  opacity: 1;
  z-index: 100;
}

.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4), .carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-nav .nav-item:nth-of-type(5), .carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-nav .nav-item:nth-of-type(6), .carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-nav .nav-item:nth-of-type(7), .carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-nav .nav-item:nth-of-type(8) {
  color: #f7f8f9;
}

.carousel {
  background: white;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.carousel .carousel-container {
  height: 100%;
  left: 0;
  position: relative;
}

.carousel .carousel-container::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.carousel .carousel-container .carousel-item {
  -webkit-animation: carousel-slideout 1s ease-in-out 1;
          animation: carousel-slideout 1s ease-in-out 1;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .carousel-container .carousel-item:hover .item-prev,
.carousel .carousel-container .carousel-item:hover .item-next {
  opacity: 1;
}

.carousel .carousel-container .item-prev,
.carousel .carousel-container .item-next {
  background: rgba(247, 248, 249, 0.25);
  border-color: rgba(247, 248, 249, 0.5);
  color: #f7f8f9;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.carousel .carousel-container .item-prev {
  left: 1rem;
}

.carousel .carousel-container .item-next {
  right: 1rem;
}

.carousel .carousel-nav {
  bottom: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  z-index: 100;
}

.carousel .carousel-nav .nav-item {
  color: rgba(247, 248, 249, 0.5);
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 1.6rem;
  margin: 0.2rem;
  max-width: 2.5rem;
  position: relative;
}

.carousel .carousel-nav .nav-item::before {
  background: currentColor;
  content: "";
  display: block;
  height: 0.1rem;
  position: absolute;
  top: .5rem;
  width: 100%;
}

@-webkit-keyframes carousel-slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes carousel-slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes carousel-slideout {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes carousel-slideout {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.comparison-slider {
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.comparison-slider .comparison-before,
.comparison-slider .comparison-after {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.comparison-slider .comparison-before img,
.comparison-slider .comparison-after img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  position: absolute;
  width: 100%;
}

.comparison-slider .comparison-before {
  width: 100%;
  z-index: 1;
}

.comparison-slider .comparison-before .comparison-label {
  right: 0.8rem;
}

.comparison-slider .comparison-after {
  max-width: 100%;
  min-width: 0;
  z-index: 2;
}

.comparison-slider .comparison-after::before {
  background: transparent;
  content: "";
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0.8rem;
  top: 0;
  z-index: 1;
}

.comparison-slider .comparison-after::after {
  background: currentColor;
  border-radius: 50%;
  -webkit-box-shadow: 0 -5px, 0 5px;
          box-shadow: 0 -5px, 0 5px;
  color: #ccc;
  content: "";
  height: 3px;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 3px;
}

.comparison-slider .comparison-after .comparison-label {
  left: 0.8rem;
}

.comparison-slider .comparison-resizer {
  -webkit-animation: first-run 1.5s 1 ease-in-out;
          animation: first-run 1.5s 1 ease-in-out;
  cursor: ew-resize;
  height: 0.8rem;
  left: 0;
  max-width: 100%;
  min-width: 0.8rem;
  opacity: 0;
  outline: none;
  position: relative;
  resize: horizontal;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleY(30);
          transform: translateY(-50%) scaleY(30);
  width: 0;
}

.comparison-slider .comparison-label {
  background: rgba(48, 55, 66, 0.5);
  bottom: 0.8rem;
  color: #ccc;
  padding: 0.2rem 0.4rem;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes first-run {
  0% {
    width: 0;
  }
  25% {
    width: 2.4rem;
  }
  50% {
    width: 0.8rem;
  }
  75% {
    width: 1.2rem;
  }
  100% {
    width: 0;
  }
}

@keyframes first-run {
  0% {
    width: 0;
  }
  25% {
    width: 2.4rem;
  }
  50% {
    width: 0.8rem;
  }
  75% {
    width: 1.2rem;
  }
  100% {
    width: 0;
  }
}

.filter .filter-tag#tag-0:checked ~ .filter-nav .chip[for="tag-0"], .filter .filter-tag#tag-1:checked ~ .filter-nav .chip[for="tag-1"], .filter .filter-tag#tag-2:checked ~ .filter-nav .chip[for="tag-2"], .filter .filter-tag#tag-3:checked ~ .filter-nav .chip[for="tag-3"], .filter .filter-tag#tag-4:checked ~ .filter-nav .chip[for="tag-4"], .filter .filter-tag#tag-5:checked ~ .filter-nav .chip[for="tag-5"], .filter .filter-tag#tag-6:checked ~ .filter-nav .chip[for="tag-6"], .filter .filter-tag#tag-7:checked ~ .filter-nav .chip[for="tag-7"], .filter .filter-tag#tag-8:checked ~ .filter-nav .chip[for="tag-8"] {
  background: #5755d9;
  color: #ccc;
}

.filter .filter-tag#tag-1:checked ~ .filter-body .filter-item:not([data-tag~="tag-1"]), .filter .filter-tag#tag-2:checked ~ .filter-body .filter-item:not([data-tag~="tag-2"]), .filter .filter-tag#tag-3:checked ~ .filter-body .filter-item:not([data-tag~="tag-3"]), .filter .filter-tag#tag-4:checked ~ .filter-body .filter-item:not([data-tag~="tag-4"]), .filter .filter-tag#tag-5:checked ~ .filter-body .filter-item:not([data-tag~="tag-5"]), .filter .filter-tag#tag-6:checked ~ .filter-body .filter-item:not([data-tag~="tag-6"]), .filter .filter-tag#tag-7:checked ~ .filter-body .filter-item:not([data-tag~="tag-7"]), .filter .filter-tag#tag-8:checked ~ .filter-body .filter-item:not([data-tag~="tag-8"]) {
  display: none;
}

.filter .filter-nav {
  margin: 0.4rem 0;
}

.filter .filter-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meter {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  border: 0;
  border-radius: 0.1rem;
  display: block;
  width: 100%;
  height: 0.8rem;
}

.meter::-webkit-meter-inner-element {
  display: block;
}

.meter::-webkit-meter-bar, .meter::-webkit-meter-optimum-value, .meter::-webkit-meter-suboptimum-value, .meter::-webkit-meter-even-less-good-value {
  border-radius: 0.1rem;
}

.meter::-webkit-meter-bar {
  background: white;
}

.meter::-webkit-meter-optimum-value {
  background: #32b643;
}

.meter::-webkit-meter-suboptimum-value {
  background: #ffb700;
}

.meter::-webkit-meter-even-less-good-value {
  background: #e85600;
}

.meter::-moz-meter-bar, .meter:-moz-meter-optimum, .meter:-moz-meter-sub-optimum, .meter:-moz-meter-sub-sub-optimum {
  border-radius: 0.1rem;
}

.meter:-moz-meter-optimum::-moz-meter-bar {
  background: #32b643;
}

.meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #ffb700;
}

.meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #e85600;
}

.off-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}

.off-canvas .off-canvas-toggle {
  display: block;
  position: absolute;
  top: 0.4rem;
  -webkit-transition: none;
  transition: none;
  z-index: 1;
  left: 0.4rem;
}

.off-canvas .off-canvas-sidebar {
  background: white;
  bottom: 0;
  min-width: 10rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  z-index: 200;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.off-canvas .off-canvas-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  padding: 0.4rem 0.4rem 0.4rem 4rem;
}

.off-canvas .off-canvas-overlay {
  background: rgba(48, 55, 66, 0.1);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.off-canvas .off-canvas-sidebar:target, .off-canvas .off-canvas-sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay,
.off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay {
  display: block;
  z-index: 100;
}

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
    -webkit-transform: none;
            transform: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important;
  }
}

.parallax {
  display: block;
  height: auto;
  position: relative;
  width: auto;
}

.parallax .parallax-content {
  -webkit-box-shadow: 0 1rem 2.1rem rgba(48, 55, 66, 0.3);
          box-shadow: 0 1rem 2.1rem rgba(48, 55, 66, 0.3);
  height: auto;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
}

.parallax .parallax-content::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.parallax .parallax-front {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 20px rgba(48, 55, 66, 0.75);
  top: 0;
  -webkit-transform: translateZ(50px) scale(0.95);
          transform: translateZ(50px) scale(0.95);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  width: 100%;
  z-index: 1;
}

.parallax .parallax-top-left {
  height: 50%;
  outline: none;
  position: absolute;
  width: 50%;
  z-index: 100;
  left: 0;
  top: 0;
}

.parallax .parallax-top-left:focus ~ .parallax-content,
.parallax .parallax-top-left:hover ~ .parallax-content {
  -webkit-transform: perspective(1000px) rotateX(3deg) rotateY(-3deg);
          transform: perspective(1000px) rotateX(3deg) rotateY(-3deg);
}

.parallax .parallax-top-left:focus ~ .parallax-content::before,
.parallax .parallax-top-left:hover ~ .parallax-content::before {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.35) 0%, transparent 50%);
}

.parallax .parallax-top-left:focus ~ .parallax-content .parallax-front,
.parallax .parallax-top-left:hover ~ .parallax-content .parallax-front {
  -webkit-transform: translate3d(4.5px, 4.5px, 50px) scale(0.95);
          transform: translate3d(4.5px, 4.5px, 50px) scale(0.95);
}

.parallax .parallax-top-right {
  height: 50%;
  outline: none;
  position: absolute;
  width: 50%;
  z-index: 100;
  right: 0;
  top: 0;
}

.parallax .parallax-top-right:focus ~ .parallax-content,
.parallax .parallax-top-right:hover ~ .parallax-content {
  -webkit-transform: perspective(1000px) rotateX(3deg) rotateY(3deg);
          transform: perspective(1000px) rotateX(3deg) rotateY(3deg);
}

.parallax .parallax-top-right:focus ~ .parallax-content::before,
.parallax .parallax-top-right:hover ~ .parallax-content::before {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 0.35) 0%, transparent 50%);
}

.parallax .parallax-top-right:focus ~ .parallax-content .parallax-front,
.parallax .parallax-top-right:hover ~ .parallax-content .parallax-front {
  -webkit-transform: translate3d(-4.5px, 4.5px, 50px) scale(0.95);
          transform: translate3d(-4.5px, 4.5px, 50px) scale(0.95);
}

.parallax .parallax-bottom-left {
  height: 50%;
  outline: none;
  position: absolute;
  width: 50%;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.parallax .parallax-bottom-left:focus ~ .parallax-content,
.parallax .parallax-bottom-left:hover ~ .parallax-content {
  -webkit-transform: perspective(1000px) rotateX(-3deg) rotateY(-3deg);
          transform: perspective(1000px) rotateX(-3deg) rotateY(-3deg);
}

.parallax .parallax-bottom-left:focus ~ .parallax-content::before,
.parallax .parallax-bottom-left:hover ~ .parallax-content::before {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.35) 0%, transparent 50%);
}

.parallax .parallax-bottom-left:focus ~ .parallax-content .parallax-front,
.parallax .parallax-bottom-left:hover ~ .parallax-content .parallax-front {
  -webkit-transform: translate3d(4.5px, -4.5px, 50px) scale(0.95);
          transform: translate3d(4.5px, -4.5px, 50px) scale(0.95);
}

.parallax .parallax-bottom-right {
  height: 50%;
  outline: none;
  position: absolute;
  width: 50%;
  z-index: 100;
  bottom: 0;
  right: 0;
}

.parallax .parallax-bottom-right:focus ~ .parallax-content,
.parallax .parallax-bottom-right:hover ~ .parallax-content {
  -webkit-transform: perspective(1000px) rotateX(-3deg) rotateY(3deg);
          transform: perspective(1000px) rotateX(-3deg) rotateY(3deg);
}

.parallax .parallax-bottom-right:focus ~ .parallax-content::before,
.parallax .parallax-bottom-right:hover ~ .parallax-content::before {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 0%, transparent 50%);
}

.parallax .parallax-bottom-right:focus ~ .parallax-content .parallax-front,
.parallax .parallax-bottom-right:hover ~ .parallax-content .parallax-front {
  -webkit-transform: translate3d(-4.5px, -4.5px, 50px) scale(0.95);
          transform: translate3d(-4.5px, -4.5px, 50px) scale(0.95);
}

.progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #1b1e24;
  border: 0;
  border-radius: 0.1rem;
  color: #5755d9;
  height: 0.2rem;
  position: relative;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 0.1rem;
}

.progress::-webkit-progress-value {
  background: #5755d9;
  border-radius: 0.1rem;
}

.progress::-moz-progress-bar {
  background: #5755d9;
  border-radius: 0.1rem;
}

.progress:indeterminate {
  -webkit-animation: progress-indeterminate 1.5s linear infinite;
          animation: progress-indeterminate 1.5s linear infinite;
  background: #1b1e24 -webkit-gradient(linear, left top, right top, color-stop(30%, #5755d9), color-stop(30%, #1b1e24)) top left/150% 150% no-repeat;
  background: #1b1e24 linear-gradient(to right, #5755d9 30%, #1b1e24 30%) top left/150% 150% no-repeat;
}

.progress:indeterminate::-moz-progress-bar {
  background: transparent;
}

@-webkit-keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  display: block;
  width: 100%;
  height: 1.2rem;
}

.slider:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
  outline: none;
}

.slider.tooltip:not([data-tooltip])::after {
  content: attr(value);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #5755d9;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  margin-top: -0.25rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 0.6rem;
}

.slider::-moz-range-thumb {
  background: #5755d9;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 0.6rem;
}

.slider::-ms-thumb {
  background: #5755d9;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 0.6rem;
}

.slider:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.slider:active::-moz-range-thumb {
  transform: scale(1.25);
}

.slider:active::-ms-thumb {
  transform: scale(1.25);
}

.slider:disabled::-webkit-slider-thumb, .slider.disabled::-webkit-slider-thumb {
  background: #f7f8f9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider:disabled::-moz-range-thumb, .slider.disabled::-moz-range-thumb {
  background: #f7f8f9;
  transform: scale(1);
}

.slider:disabled::-ms-thumb, .slider.disabled::-ms-thumb {
  background: #f7f8f9;
  transform: scale(1);
}

.slider::-webkit-slider-runnable-track {
  background: #1b1e24;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-moz-range-track {
  background: #1b1e24;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-ms-track {
  background: #1b1e24;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-ms-fill-lower {
  background: #5755d9;
}

.timeline .timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
  position: relative;
}

.timeline .timeline-item::before {
  background: #dadee4;
  content: "";
  height: 100%;
  left: 11px;
  position: absolute;
  top: 1.2rem;
  width: 2px;
}

.timeline .timeline-item .timeline-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.timeline .timeline-item .timeline-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2px 0 2px 0.8rem;
}

.timeline .timeline-item .timeline-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 1.2rem;
}

.timeline .timeline-item .timeline-icon::before {
  border: 0.1rem solid #5755d9;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  width: 0.4rem;
}

.timeline .timeline-item .timeline-icon.icon-lg {
  background: #5755d9;
  line-height: 1.2rem;
}

.timeline .timeline-item .timeline-icon.icon-lg::before {
  content: none;
}

.viewer-360 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.viewer-360 .viewer-slider[max='36'][value='1'] + .viewer-image {
  background-position-y: 0%;
}

.viewer-360 .viewer-slider[max='36'][value='2'] + .viewer-image {
  background-position-y: 2.85714%;
}

.viewer-360 .viewer-slider[max='36'][value='3'] + .viewer-image {
  background-position-y: 5.71429%;
}

.viewer-360 .viewer-slider[max='36'][value='4'] + .viewer-image {
  background-position-y: 8.57143%;
}

.viewer-360 .viewer-slider[max='36'][value='5'] + .viewer-image {
  background-position-y: 11.42857%;
}

.viewer-360 .viewer-slider[max='36'][value='6'] + .viewer-image {
  background-position-y: 14.28571%;
}

.viewer-360 .viewer-slider[max='36'][value='7'] + .viewer-image {
  background-position-y: 17.14286%;
}

.viewer-360 .viewer-slider[max='36'][value='8'] + .viewer-image {
  background-position-y: 20%;
}

.viewer-360 .viewer-slider[max='36'][value='9'] + .viewer-image {
  background-position-y: 22.85714%;
}

.viewer-360 .viewer-slider[max='36'][value='10'] + .viewer-image {
  background-position-y: 25.71429%;
}

.viewer-360 .viewer-slider[max='36'][value='11'] + .viewer-image {
  background-position-y: 28.57143%;
}

.viewer-360 .viewer-slider[max='36'][value='12'] + .viewer-image {
  background-position-y: 31.42857%;
}

.viewer-360 .viewer-slider[max='36'][value='13'] + .viewer-image {
  background-position-y: 34.28571%;
}

.viewer-360 .viewer-slider[max='36'][value='14'] + .viewer-image {
  background-position-y: 37.14286%;
}

.viewer-360 .viewer-slider[max='36'][value='15'] + .viewer-image {
  background-position-y: 40%;
}

.viewer-360 .viewer-slider[max='36'][value='16'] + .viewer-image {
  background-position-y: 42.85714%;
}

.viewer-360 .viewer-slider[max='36'][value='17'] + .viewer-image {
  background-position-y: 45.71429%;
}

.viewer-360 .viewer-slider[max='36'][value='18'] + .viewer-image {
  background-position-y: 48.57143%;
}

.viewer-360 .viewer-slider[max='36'][value='19'] + .viewer-image {
  background-position-y: 51.42857%;
}

.viewer-360 .viewer-slider[max='36'][value='20'] + .viewer-image {
  background-position-y: 54.28571%;
}

.viewer-360 .viewer-slider[max='36'][value='21'] + .viewer-image {
  background-position-y: 57.14286%;
}

.viewer-360 .viewer-slider[max='36'][value='22'] + .viewer-image {
  background-position-y: 60%;
}

.viewer-360 .viewer-slider[max='36'][value='23'] + .viewer-image {
  background-position-y: 62.85714%;
}

.viewer-360 .viewer-slider[max='36'][value='24'] + .viewer-image {
  background-position-y: 65.71429%;
}

.viewer-360 .viewer-slider[max='36'][value='25'] + .viewer-image {
  background-position-y: 68.57143%;
}

.viewer-360 .viewer-slider[max='36'][value='26'] + .viewer-image {
  background-position-y: 71.42857%;
}

.viewer-360 .viewer-slider[max='36'][value='27'] + .viewer-image {
  background-position-y: 74.28571%;
}

.viewer-360 .viewer-slider[max='36'][value='28'] + .viewer-image {
  background-position-y: 77.14286%;
}

.viewer-360 .viewer-slider[max='36'][value='29'] + .viewer-image {
  background-position-y: 80%;
}

.viewer-360 .viewer-slider[max='36'][value='30'] + .viewer-image {
  background-position-y: 82.85714%;
}

.viewer-360 .viewer-slider[max='36'][value='31'] + .viewer-image {
  background-position-y: 85.71429%;
}

.viewer-360 .viewer-slider[max='36'][value='32'] + .viewer-image {
  background-position-y: 88.57143%;
}

.viewer-360 .viewer-slider[max='36'][value='33'] + .viewer-image {
  background-position-y: 91.42857%;
}

.viewer-360 .viewer-slider[max='36'][value='34'] + .viewer-image {
  background-position-y: 94.28571%;
}

.viewer-360 .viewer-slider[max='36'][value='35'] + .viewer-image {
  background-position-y: 97.14286%;
}

.viewer-360 .viewer-slider[max='36'][value='36'] + .viewer-image {
  background-position-y: 100%;
}

.viewer-360 .viewer-slider {
  cursor: ew-resize;
  margin: 1rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 60%;
}

.viewer-360 .viewer-image {
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
/*# sourceMappingURL=spectre-exp.css.map */