<section class="section modular-events {{ page.header.class}}">
    <h1 class="black-line text-center">{{ page.header.title }}</h1>
    <div class="content">
        {{ content|raw }}
    </div>
    <script src="https://chapters.extinctionrebellion.us/show-events.js"></script>
    <div data-chapter="{{ page.header.chapter }}" id="xr-events"></div>
</section>
