{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}

{% if blog_image %}
    {% block hero %}
        {% include 'partials/hero.html.twig' with {id: 'blog-hero', hero_image: blog_image} %}
    {% endblock %}
{% endif %}

{% block body %}
    <section class="section cover-page" id="body-wrapper">
        <section class="container">
            {{ page.content|raw }}
        </section>
    </section>
{% endblock %}
